html, body, h1, h2, h3, h4, h5, small {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: teal;
}

p {
  color: black;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

body {
  background-color: #DDDDD;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}


.top-bar, .top-bar ul {
   background: none;
   color: #999;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 5000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
}

.full-background{
    background-color: white;
}

.rotate {
  animation: rotation 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.filters{
      border-style: solid;
      border-width: 4px;
      border-color: white;
}


.popover-inner {
    max-width: none;
}

.h6{
    line-height: 300px;
}

.col-md-auto {
  margin-top: 15px;
  min-width:100px;
}

.col-sm{
  margin-top: 5px;
  margin-right: 15px;
}

.row{
      background-color: #F5F5F5;
}


.top-bar.scrollNav {
  background: #ffffff;
  opacity: 0.92;
  transition: all 0.5s ease;
  border-bottom: 1px solid rgba(200, 200, 200, 0.8);
  .menu li, .menu li a {
    color: #555;
  }
}

.one {
    margin-bottom: 200px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  padding: 15px;
  background-color: #fff;
}

.fa-arrow-down{
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

.fa-arrow-down.open{
  transform: rotate(-180deg);
  transition: transform 0.5s linear;
}

.main {
  width: 75%;
  height: 150vh;
}

.sidebar {
  width: 25%;
  height: 25vh;
}

.big-banner {
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/14/Panorama_puy_de_dome_sud.jpg) center 80%;
  background-size: cover;
  margin-bottom: 50px;
  transition: 0.5s ease all;
  &.blurred {
    filter: blur(2px);
  }
}

.highlight {
  opacity: 0.7;
  color: teal;
}


.menu li, .menu li a {
  color: white;
}

.callout.primary {
  background: none;
}

.callout.large {
  padding: 9em 3em 7em;
}


.callout {
  background-color: #333;
}


.callout.callout-post {
  border-top: 3px solid #333;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aaa;
  background: #f9f9f9;
  .menu a {
    color: #aaa;
  }
}

.blog-post {
  margin-bottom: 70px;
  h3 {
    text-transform: uppercase;
    color: #666;
    letter-spacing: 0.05em;
    font-size: 25px;
  }
  small {
    float: right;
    margin-top: 20px;
    font-size: 18px;
  }
}

hr {
     border: none;
     height: 3px;
     /* Set the hr color */
     color: #333; /* old IE */
     background-color: #333; /* Modern Browsers */
 }

.form-area {
  margin-bottom: 60px;
  button {
    background: teal;
    text-align: center;
    color: white;
    padding: 0.7em;
    border-radius: 4px;
    width: 100%;
    margin: 10px auto;
    transition: 0.3s all ease;
    &:hover {
      background: #1A9696;
    }
  }
}

h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: teal;
}

.callout.secondary {
  background-color: #f9f9f9;
  border-color: #ddd;
  border-radius: 4px;
  input {
    border-color: #ddd;
    border-radius: 4px;
  }
}

@media screen and (max-width: 900px) {
    .blog-post small {
        font-size: 12px !important;
    }

    h1 {
      letter-spacing: 0.15em;
      font-size: 30px;
    }
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('../images/fon.jpg');
  max-width: 2000px;
  max-height: 1000px;
  /* Full height */
  height: 200px;
  text-align: center;
  align-items: middle;
}

.nav-link {
    color:black;
}

.header-color {
    background-color: lightgreen;
}

.fas fa-thumbs-up{
    color: lightgreen;
}